body{
	margin: 0;
}

header{
	background-color: black;
}
header img{
	text-align: left;
	border-radius: 150px;
}
header h1{
	font-size: 30;
	color: white;
	text-align: center;
}
header p{
	font-size: 15;
	color: white;
	text-align: center;
}

main{
	background-color: navy;
}
main h1{
	font-size: 30;
	color: steelblue;
	text-align: center;
}
main p{
	font-size: 15;
	color: powderblue;
	text-align: center;
}

footer{
	background-color: deeppink;
}
footer h1{
	font-size: 30;
	color: hotpink;
	text-align: center;
}
footer h2{
	font-size: 20;
	color: hotpink;
	text-align: center;
}
footer p{
	font-size: 15;
	color: lightpink;
	text-align: center;
}