body{
	margin: 0;
	line-height: 30px;
}
.box{
	width: 400px;
	padding: 5px;
	border: solid 5px black;
	box-sizing: border-box;
}
header, main, footer{
	max-width: 3000px;
	margin: 0 auto;
	padding: 20px 20px;
}
header{
	background-color: royalblue;
}
h1, h2{
	font-family: 'Dancing Script', cursive;
}
h1{
	font-size: 100px;
	line-height: 80px;
}
h2{
	font-size: 50px;
}
p{
	font-size: 25;
}
header img{
	max-width: 100%;
	border-radius: 200px;
	width: 300px;
	border: 1px solid royalblue;
}
header h1{
	text-align: right;
}
header p{
	text-align: left;
}

main{
	background-color: mediumblue;
}
main img{
	max-width: 100%;
	border-radius: 200px;
	width: 300px;
	border: 1px solid skyblue;
}
main h1{
	font-size: 30;
	color: steelblue;
	text-align: left;
}
main p{
	font-size: 15;
	color: powderblue;
	text-align: left;
}

footer{
	background-color: navy;
}
footer h1{
	font-size: 30;
	color: hotpink;
	text-align: center;
}
footer h2{
	font-size: 20;
	color: hotpink;
	text-align: left;
}
footer p{
	font-size: 15;
	color: lightpink;
	text-align: left;
}